<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl"> 
Search for person: <input type="text" ng-model="search">
<ul>
  <li ng-repeat="x in names | filter:search | orderBy:'Country' ">
    {{ x.Name + ', ' + x.Country + ', ' + x.City}}
  </li>
</ul>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
   $http.get("http://www.w3schools.com/angular/customers.php").success(function(response) {$scope.names = response.records;});
   // $http.get("http://172.29.177.218:8080/ajs/customers.js").success(function(response) {$scope.names = response.records;});
});
</script>

</body>
</html>
